[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "readbulk"]
	path = readbulk
	url = https://github.com/pascalkieslich/readbulk
